:root{
  --blue-color:#2196F3;
  --black-color:#212121;
  --grey-color:#757575;
  --white-color:#FFFFFF;
  --sec-bg-color: #f5f4fa;
  --main-bg-color: #f5f5f5;
  --hero-background-color: #2f303a;

}




/* Header */


/* Section */


/* Hero */

/* Button */


  /* Advantages */
 

/* Work */



/* Team  */



/* Clients */


/* Footer */


/* Portfolio section */

